<ion-navbar class="modal-wrapper" *navbar>
  <ion-title>select a fruit</ion-title>
</ion-navbar>
<ion-content padding overflow-scroll="false" class="sample-modal-page" text-center>
  <div class="popupsize">
    <p class="font-varelap primaryColor">ADD ON TO MILKSHAKE</p>
    <ion-list style="height:137px;padding-left:9%;">
      <ion-item no-lines>
        <ion-label class="font-varelap" color="grey">Add choco chipe</ion-label>
        <ion-checkbox item-left no-margin></ion-checkbox>
      </ion-item>
      <ion-item no-lines>
        <ion-label class="font-varelap" color="grey">No add-ons</ion-label>
        <ion-checkbox>item-left no-margin color="primary"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-buttons right>
      <button ion-button clear class="font-varelap" (click)="dismiss()">
      CANCEL
    </button>
      <button ion-button clear class="font-varelap" (click)="dismiss()"style="padding-right:9%;">
    SAVE
  </button>
    </ion-buttons>
  </div>
</ion-content>