page-notes {

  .font-color{
      color:#B1B1B1;
  }
  .font-align{
      text-align:center;
  }
  .boxsize{
      border-radius:8px;
      border:solid 0.5px #D1D1D1;
      min-height: 85px;
      box-shadow:-2px 0px 10px #D1D1D1;

      text-align: center; display: flex;flex-direction: column;justify-content: center;padding: 2px;

  }
  .range-md .range-bar {
      background: #D1D1D1!important;
   }
  .range-md .range-bar-active {
      background: #7DCABA !important;
  }
  .rangebar{
      padding:0px;
      padding-right: 1rem;
      padding-left: 1rem;
  }
    $range-ios-knob-width: 28px !default;

  .hrline{
    border: 0;
    height: 0;
    box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.64);
    margin-top:12%;
  }


  .button[icon-only] {
    height: 2.0em;
  }

  .item-md .radio-md[item-left], .item-md .radio-md[item-start] {
    margin: 9px 8px 10px 4px;
  }

  .comments ion-label {
    margin: 0px 40px 0px 0;
  }

  .childName {
    color:#0D9C80;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    font-family: "Varela Round";
    margin: 0px;
  }

  .productClose {
    font-size: 22px;
    top: 0px;
    position: absolute;
    right: 6px;
    padding: 9px 8px 10px 10px;
  }

  .row.editDeleteRow {
    justify-content: center;
    margin-top: 33px;
  }

  .iconsDE{
    font-size: 26px;
    padding: 10px;
  }

}




