<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar hideBackButton color='white'>
    <ion-title align-title="center">
      <p text-center class="primaryColor font-varelap">{{"PRODUCTS" | translate}}</p>
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
         <ion-icon color="primary" name="close"></ion-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons end padding-right>
      <button ion-button icon-only>
         <ion-icon color="primary" name="md-more"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content>
  <p class="childName">{{childData.child_full_name}}</p>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-6 no-margin>
        <ion-label class="font-varelap" style="color:#0D9C80;text-align:right">
          <span style="font-size:18px;margin-right: 4px;">{{"CHECK IN" | translate}} </span> - </ion-label>
      </ion-col>
      <ion-col col-6>
        <ion-label class="font-varelap" style="color:#0D9C80;text-align:left">
          <span style="font-size:18px;margin-right: 2px;">{{"CHECK OUT" | translate}}</span> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let time of childInOuts; let i = index;">
      <ion-col col-6 no-margin *ngIf="i%2 == 0">
        <ion-label class="font-varelap" style="color:#5D5D5D;text-align:right;margin: 0px 5px 15px 5px;">
          <span style="font-size:30px">{{childInOuts[i]}}</span></ion-label>
      </ion-col>
      <ion-col col-6 *ngIf="i%2 == 0 && childInOuts[i + 1] !== undefined">
        <ion-label class="font-varelap" style="color:#5D5D5D;text-align:left;margin: 0px 5px 15px 5px;">
          <span style="font-size:30px;">{{childInOuts[i + 1]}}</span></ion-label>
      </ion-col>
    </ion-row>
    <!--<ion-row style="height:24px">
      <ion-col col-6>
        <ion-label color="primary" style="margin-left:29px;padding:0px">check in </ion-label>
      </ion-col>
      <ion-col col-6 no-margin no-padding>
        <ion-label color="primary" style="text-align:right;padding-right: 26px;">check out </ion-label>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col col-12 no-padding>
        <div style="background-color:#D1D1D1;height: 6px;margin-right: 1rem;margin-left: 1rem;border-radius: 10px;"></div>
      </ion-col>
    </ion-row>
    <ion-row style="margin-right: 1rem;margin-left: 1rem;">
      <ion-col width-20>
        <ion-label class="font-color font-align">{{"8am" | translate}} </ion-label>
      </ion-col>
      <ion-col width-20>
        <ion-label class="font-color font-align">{{"11am" | translate}} </ion-label>
      </ion-col>
      <ion-col width-20>
        <ion-label class="font-color font-align">{{"2pm" | translate}} </ion-label>
      </ion-col>
      <ion-col width-20>
        <ion-label class="font-color font-align">{{"5pm" | translate}}</ion-label>
      </ion-col>
      <ion-col width-20>
        <ion-label class="font-color font-align">{{"8pm" | translate}} </ion-label>
      </ion-col>
      <ion-col width-20>
        <ion-label class="font-color font-align">{{"11pm" | translate}} </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-label color="primary" class="font-varelap" style="padding-left: 20px;">{{"EXTRA PRODUCTS" | translate}} </ion-label>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div class="boxsize" style="display:flex;align-items: center; justify-content: center;">
            <ion-icon name="add" color="primary" style="font-size:32px;" (click)="notesModal(true, '')">
            </ion-icon>
          </div>
        </ion-col>
        <ion-col col-4 *ngFor="let item of savedProducts">
          <div *ngIf="!item.selected" (click)="onTapProduct(item)" class=" boxsize">
            <p class="primaryColor font-varelap" style="margin: 0px;">{{item.name}}</p>
            <p class="font-varelap font-color" style="margin: 0px;font-size: 13px;">{{"Quantity" | translate}}: {{item.quantity}}</p>
          </div>
          <div *ngIf="item.selected" class=" boxsize">
            <ion-icon name="md-close" color="primary" class="productClose" (click)="onCloseProduct(item)"></ion-icon>
            <ion-row class="editDeleteRow">
              <ion-icon *ngIf="item.multiple_possible == '1'" name="md-create" color="primary" class="iconsDE" (click)="onEditProduct(item)"></ion-icon>
              <ion-icon name="md-trash" color="primary" class="iconsDE" (click)="onDeleteProduct(item)"></ion-icon>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>

  <ion-row>
    <ion-col col-12 style="padding:15px 0px 0px 0px;">
      <div style="border-bottom:1px solid;color:#D1D1D1"></div>
    </ion-col>
  </ion-row>
  <ion-row style=" background-color:#FFFFFF;" *ngIf="childData.child_info == null || isEditState">
    <ion-col col-10 style="padding:0px  ">
      <ion-input type="text" [(ngModel)]="commentBox" placeholder="{{placeText}}" style="text-indent: 14px;"></ion-input>
    </ion-col>
    <ion-col col-2 style="top:0px; padding:0px;text-align:center">
      <ion-buttons left (click)="onTapCommentAdd()">
        <button ion-button icon-only clear>
           <ion-icon name="ios-arrow-dropdown" color="primary" style="font-size:25px;" ></ion-icon>
      </button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="childData.child_info == null || isEditState">
    <ion-col col-12 style="padding:0px  ">
      <div style="border-bottom:1px solid;color:#D1D1D1"></div>
    </ion-col>
  </ion-row>

  <ion-card style="width: 100%;margin:0px;padding:0px;display: inline" *ngIf="childData.child_info != null">
    <ion-item class="comments" style="margin: 10px 15px;width: 90%;min-height: 7rem;">
      <ion-buttons left (click)="onTapCommentEdit()" style="position: absolute;right: -17px;top: 2px;" *ngIf="!isEditState">
        <button ion-button icon-only clear>
          <ion-icon name="md-create" color="primary" style="font-size:25px;" ></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons left (click)="onTapDeleteComment()" style="position: absolute;right: -13px;top: 37px;" *ngIf="!isEditState">
        <button ion-button icon-only clear>
          <ion-icon name="md-trash" color="primary" style="font-size:25px;" ></ion-icon>
        </button>
      </ion-buttons>

      <!-- <ion-avatar item-start>
        <img src="{{childData.child_image_url != null ? getImageURL()  : 'assets/child_profile_default.png'}}">
      </ion-avatar> -->
      <h2>
        <span class="primaryColor font-varelap">{{"REMARKS" | translate}}</span>
        <!--<span style="float: right;" class="font-varelap font-color">8.00 am</span>-->
      </h2>
      <p text-wrap class="font-varelap font-color">{{childData.child_info}}</p>
    </ion-item>
  </ion-card>
</ion-content>
