// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

//****** popover  override css *******
//android specific css
.popover-md .popover-content {
  width: 100%!important;
 // height: 50%!important;;
  border-top-right-radius: 20px!important;
  border-top-left-radius: 20px!important;
  color: #000;
  background: #0D9C80!important;;
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  top:auto!important;
  bottom: 0px;
  left: 0px !important;
  opacity: 0.9!important;
}
.range-md .range-bar {
  top: 19px!important;
  height: 6px!important;
  background: #7DCABA!important;
  border-radius: 10px!important;
}

.button-round-md {
  padding: 0 1rem!important;
  border-radius: 5px!important;
}

.range-md .range-bar-active {
  background: #f4f4f4!important;
 
}
// ios specific css
.popover-ios .popover-content {
  width: 100%!important;
  height: 50%!important;;
  border-top-right-radius: 20px!important;
  border-top-left-radius: 20px!important;
  color: #000;
  background: #0D9C80!important;;
  box-shadow: 0 3px 12px 2px rgba(0, 0, 0, 0.3);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  top:auto!important;
  left: 0px !important;
  opacity: 0.9!important;
}
.popover-ios .popover-arrow {
  display: none!important;
}

//****** popover css *******

.label {
  margin: 0;
}

.item-inner {
  padding-right: 0px!important;
  padding-left: 5px!important;
}

.primaryColor {
  color:#0D9C80 !important;
}

.item.item-md .checkbox-md {
  margin: 0px 10px 0px 10px!important;
}

.greyColor
{
  color:grey;

}

//css to change color of back button
.md,
.wp {
  .back-button {
    color: #0D9C80 !important;//what ever the color you like
  }
}


//Center the nav bar title on Android
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

progress-bar .date {
  box-shadow: 2px 2px 2px 2px lightgrey !important;
}

page-detailsview .vertical_line {
  margin-top: 0.2rem!important;
}

progress-bar .progress-outer
{
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}

$greyColor:#9D9D9D;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0D9C80,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  grey:     grey,
  white:    #FFFFFF
);

 .modal-wrapper {
    position: absolute !important;
    width: 100% !important;
    height: 100%!important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    border-radius: 0px!important;
}
  
  .popupsize{
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 150px;
    border-radius: 5px;
    width:80%;
    margin-left:10%;
    }

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts

