<ion-navbar class="modal-wrapper" *navbar>
  <ion-title>Sample Modal</ion-title>
</ion-navbar>
<ion-content padding overflow-scroll="false" class="sample-modal-page" text-center>
<div style="background-color: #FFFFFF; padding: 10px; margin-top: 150px; border-radius: 5px;">
  <p style="margin-bottom: 0px;" class="font-varelap primaryColor">{{LOCATION_SELECTOR_POPUP_TITLE}}</p>
  <ion-scroll  scrollY="true" style="overflow: scroll;white-space: nowrap; height: 180px" >
    <ion-item no-lines *ngFor="let group_name of child_groups; trackBy: $index">
      <ion-label class="font-varelap" color="grey">{{group_name.child_group_name |  translate}}</ion-label>
      <ion-checkbox no-margin color="primary" checked="{{group_name.selected}}" (click)="onSelectItem(group_name)"></ion-checkbox>
    </ion-item>
  </ion-scroll>
<ion-buttons right>
    <button ion-button clear class="font-varelap" (click)="dismiss()">
      {{ "POPUP_CANCEL" | translate}}
    </button>
  <button ion-button clear class="font-varelap" (click)="onSavePopup()">
    {{ "POPUP_SAVE" | translate}}
  </button>
</ion-buttons>
</div>
</ion-content>
