<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar>
    <!-- here z-index:-1 to resolve back button not working after making title in center as its hiding behind the title -->
    <ion-title style="z-index: -1" align-title="center">
      <p text-center class="primaryColor font-varelap">{{"PROFILE_HEADER" | translate}}</p>
    </ion-title>
    <ion-buttons right>
      <button button ion-button icon-only (click)="goToRegister(name)">
        <image-icon imgUrl="url(assets/timer.png)"[ngClass]="{'clockSel' : name.selected, 'clockVisited' : name.visited}"></image-icon>
      </button>
    </ion-buttons>
    <!--<ion-buttons right>
      <button button ion-button icon-only clear>
        <ion-icon color="primary" name="md-more"></ion-icon>
      </button>
    </ion-buttons>-->
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item no-lines>
    <ion-avatar item-left (click)="onTapProfileImage()">
      <img style="width: 100% !important;
    height : 100% !important;
    max-width: 85px !important;
    max-height: 85px !important;" [style.border]="'3px solid #0D9C80'" src="{{(name.child_image_basedata == undefined || name.child_image_basedata == '') ? 'assets/child_profile_default.png' : name.child_image_basedata}}">
    </ion-avatar>
    <ion-label class="font-varelap" color="primary">
      {{name.child_full_name}}
      <p style="font-size:1.2rem;color:#8c8c8c">{{name.child_place_of_residence}}</p>

      <p class="primaryColor font-varelap" style="margin-top:10px;font-size: 1.2rem;">{{"BIRTHDAY" | translate}}: <span style="font-size:1.2rem;color:#8c8c8c">
        {{getBirthday(name.child_date_of_birth)}}</span></p>
    </ion-label>
  </ion-item>
  <ion-item no-lines text-wrap *ngIf="name.child_info != null">
    <p class="font-varelap" style="font-size: 1.3rem;font-weight: bold;color: #7a7a7a">{{name.child_info}}
    </p>
  </ion-item>
  <ion-row style="text-align: center;" margin-top="10px;">
    <ion-col>
      <div class="circle">
        <div class="font-varelap"> {{name.child_age}}</div>
        <span class="font-varelap">{{'YRS' | translate}}</span>
      </div>
    </ion-col>
    <ion-col (click)="editHours()">
      <div class="circle">
        <div class="font-varelap">{{name.child_time.h}}h</div>
        <span class="font-varelap">{{name.child_time.m}}m</span>
      </div>
    </ion-col>
  </ion-row>
  <!--<ion-item no-lines>
    <p> <span class="primaryColor font-varelap"> {{"ALLERGIC_TO" | translate}}:</span> {{name.allergies}}</p>
  </ion-item>-->
  <ion-item text-center no-lines margin-top="20px">
    <div class="row">
      <div class="col" [ngClass]="{'colSelected' : defaultTap == 'con', 'colNormal' : defaultTap == 'dis'}" (click)="onClickTabs('con')">
        <p class="font-varelap">{{"EMERGENCY_CONTACTS" | translate}}</p>
      </div>
      <div class="col" [ngClass]="{'colSelected' : defaultTap == 'dis', 'colNormal' : defaultTap == 'con'}" (click)="onClickTabs('dis')">
        <p class="font-varelap">{{"DISCRIPTION" | translate}}</p>
      </div>
    </div>

  </ion-item>
  <ion-row *ngIf="defaultTap == 'con'" class="card-row" responsive-sm>
    <ion-col col-6 style="margin-right: -1rem!important;display: flex;" *ngIf="name.guardian1_first_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col class="horVerCetner">
              <image-icon *ngIf="name.guardian1_gender==='M'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/boy.png)"></image-icon>
              <image-icon *ngIf="name.guardian1_gender==='V'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/girl.png)"></image-icon>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{name.guardian1_first_name+" "+name.guardian1_last_name}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <a href="tel:{{name.guardian1_phone_numbers.cell}}" class="greyColor font-varelap text-size numberAnc">{{"CELL" | translate}}: {{name.guardian1_phone_numbers.cell}}</a>
            <a href="tel:{{name.guardian1_phone_numbers.extra}}" class="greyColor font-varelap text-size numberAnc">{{"EXTRA" | translate}}: {{name.guardian1_phone_numbers.extra}}</a>
            <a href="tel:{{name.guardian1_phone_numbers.home}}" class="greyColor font-varelap text-size numberAnc">{{"HOME" | translate}}: {{name.guardian1_phone_numbers.home}}</a>
            <a href="tel:{{name.guardian1_phone_numbers.work}}" class="greyColor font-varelap text-size numberAnc">{{"WORK" | translate}}: {{name.guardian1_phone_numbers.work}}</a>
            <p class="greyColor font-varelap card-name">{{name.guardian1_street}}<br> {{name.guardian1_city}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-6 style="margin-right: -1rem!important;display: flex;" *ngIf="name.guardian2_first_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col class="horVerCetner">
              <image-icon *ngIf="name.guardian2_gender==='M'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/boy.png)"></image-icon>
              <image-icon *ngIf="name.guardian2_gender==='V'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/girl.png)"></image-icon>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 5px !important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{name.guardian2_first_name+" "+name.guardian2_last_name}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <a href="tel:{{name.guardian2_phone_numbers.cell}}" class="font-varelap text-size numberAnc">{{"CELL" | translate}}: {{name.guardian2_phone_numbers.cell}}</a>
            <a href="tel:{{name.guardian2_phone_numbers.extra}}" class="font-varelap text-size numberAnc">{{"EXTRA" | translate}}: {{name.guardian2_phone_numbers.extra}}</a>
            <a href="tel:{{name.guardian2_phone_numbers.home}}" class="font-varelap text-size numberAnc">{{"HOME" | translate}}: {{name.guardian2_phone_numbers.home}}</a>
            <a href="tel:{{name.guardian2_phone_numbers.work}}" class="font-varelap text-size numberAnc">{{"WORK" | translate}}: {{name.guardian2_phone_numbers.work}}</a>
            <p class="font-varelap card-name">{{name.guardian2_street}}<br> {{name.guardian2_city}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="defaultTap == 'con'" class="card-row" responsive-sm>
    <ion-col col-6 style="margin-right: -1rem!important;display: flex;" *ngIf="name.doctor_name != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col class="horVerCetner" style="color:#5f5e5e;">
            <h4 class="name font-varelap">{{"DOCTOR" | translate}}</h4>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap" style="color:#5f5e5e;">{{name.doctor_name}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <a href="tel:{{name['doctor-phone']}}" class="greyColor font-varelap text-size numberAnc">{{name["doctor-phone"]}}</a>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
    <ion-col col-6 style="margin-right: -1rem!important;display: flex;" *ngIf="name.pediatrician_name != null || name.pediatrician_phone != null">
      <ion-card>
        <ion-row responsive-sm class="header">
          <ion-col class="horVerCetner">
            <h4 class="name font-varelap" style="color:#5f5e5e;">{{"PEDIAT" | translate}}</h4>
          </ion-col>
        </ion-row>
        <ion-row style="padding-left: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap" style="color:#5f5e5e;">{{name.pediatrician_name}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <a href="tel:{{name.pediatrician_phone}}" class="greyColor font-varelap text-size numberAnc">{{name.pediatrician_phone}}</a>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="defaultTap == 'con' && name.contacts.length > 0" class="card-row" responsive-sm>
    <ion-col col-6 style="margin-right: -1rem!important;display: flex;" *ngFor="let contact of name.contacts">
      <ion-card>
        <!--<ion-row responsive-sm class="header">
          <ion-col>
            <ion-item no-padding>
              <ion-avatar style="margin:0px;">
                <img src="assets/child_profile_default.png">
              </ion-avatar>
              <image-icon *ngIf="name.guardian1_gender==='M'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/boy.png)"></image-icon>
              <image-icon *ngIf="name.guardian1_gender==='V'" item-right height="25px" width="25px" color="#B8B8B8" imgUrl="url(assets/girl.png)"></image-icon>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <ion-row style="padding: 5px!important" responsive-sm>
          <ion-col col-12 style="top:0px">
            <h4 class="name primaryColor font-varelap">{{contact.firstName+" "+contact.lastName}}</h4>
            <h4 *ngIf="contact.relation != null" class="name primaryColor font-varelap" style="margin-top: 10px;">{{"RELATION" | translate}} : {{contact.relation}}</h4>
          </ion-col>
          <ion-col style="top:-10px">
            <a href="tel:{{contact.telephone_home}}" *ngIf="contact.telephone_home != ''" class="greyColor font-varelap text-size numberAnc">{{"HOME" | translate}} : {{contact.telephone_home}}</a>
            <a href="tel:{{contact.telephone_mobile}}" *ngIf="contact.telephone_mobile != ''" class="greyColor font-varelap text-size numberAnc">{{"MOBILE" | translate}} : {{contact.telephone_mobile}}</a>
            <a href="tel:{{contact.telephone_work}}" *ngIf="contact.telephone_work != ''" class="greyColor font-varelap text-size numberAnc">{{"WORK" | translate}} : {{contact.telephone_work}}</a>
            <a href="tel:{{contact.telephone_others}}" *ngIf="contact.telephone_others != ''" class="greyColor font-varelap text-size numberAnc">{{"OTHERS" | translate}} : {{contact.telephone_others}}</a>
            <p *ngIf="contact.is_emergency_contact == 1" class="greyColor font-varelap card-name">{{"EContact" | translate}}</p>
            <p *ngIf="contact.is_pickup_contact == 1" class="greyColor font-varelap card-name">{{"PContact" | translate}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>

  <div *ngIf="defaultTap == 'dis'" responsive-sm style="margin: 5px;">
    <div class="cusLabel" *ngIf="name.allergies != null && name.allergies != ''">
      <ion-icon name="leaf" style="margin-right: 5px;"></ion-icon>{{"Allergies" | translate}}
       <div class="cusSubLabel">{{name.allergies}}</div>
     </div>
    <div class="cusLabel" *ngIf="name.special_needs != null && name.special_needs != ''">
      <ion-icon name="notifications" style="margin-right: 5px;"></ion-icon>{{"Special needs" | translate}}
      <div class="cusSubLabel">{{name.special_needs}}</div>
    </div>
    <div class="cusLabel" *ngIf="name.illnesses != null && name.illnesses != ''">
      <ion-icon name="medkit" style="margin-right: 5px;"></ion-icon> {{"Previous diseases" | translate}}
      <div class="cusSubLabel">{{name.illnesses}}</div>
    </div>
    <div class="cusLabel" *ngIf="name.cannot_eat != null && name.cannot_eat != ''">
      <ion-icon name="restaurant" style="margin-right: 5px;"></ion-icon>{{"Don't eat" | translate}}
      <div class="cusSubLabel">{{name.cannot_eat}}</div>
    </div>
    <div class="cusLabel" *ngIf="name.cannot_drink != null && name.cannot_drink != ''">
      <ion-icon name="restaurant" style="margin-right: 5px;"></ion-icon> {{"Don't drinks" | translate}}
      <div class="cusSubLabel">{{name.cannot_drink}}</div>
    </div>
  </div>
  <ion-fab right bottom>
    <button ion-fab mini (click)="gotonotes()">
      <image-icon icon-only height="18px" width="18px" color="#FFFFFF" imgUrl="url(assets/formatlist.png)">
      </image-icon>
    </button>
  </ion-fab>
</ion-content>
