page-profile {
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    line-height: 1.5rem;
    vertical-align: middle;
    text-align: center;
    background: #0D9C80;
    word-spacing:60px;
    display: inline-block;
  }
  .circle div
  {
    margin-top:15px;
    font-size:2.1rem;
    font-weight: bold;
  }

  .font-bold{
    font-weight: bold;
  }

  .card-row{
    margin-left: -1rem!important;
    margin-right: -1rem;
  }

  .text-size{
    font-size: 1rem ;
    top: 0px;
    color:gray;
    font-weight: bold;
  }
  .card-name{
    font-size: 1rem;
    margin-top:5px;
    color:gray;
    font-weight: bold;

  }

  .colSelected {
    background: #0d9c80;
    border: 1px solid #0d9c80;
  }

  .colSelected p {
    color: white !important;
  }

  .colNormal p {
    color: #0d9c80 !important;
  }

  .colNormal {
    background: white;
    border: 1px solid #0d9c80;
  }

  .marginTop20 {
     margin-top: 20px !important;
  }

  .cusSubLabel {
    font-size: 14px;
    color: #8c8c8c;
    margin: 4px 15px;
    font-family: "Varela Round";
  }

  .cusLabel {
    font-size: 16px;
    color: #0d9c80;
    font-family: "Varela Round";
  }

  [col-6] {
    padding: 0px;
  }

  a.numberAnc {
    display: block;
    padding: 3px 0px;
    text-decoration: none;
  }

  .horVerCetner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
