<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar>
   <ion-title style="z-index: -1" align-title="center"><p text-center class="primaryColor font-varelap">{{"SUMMARY_HEADER" | translate}}</p></ion-title>
    <ion-buttons end padding-right>
      <button ion-button icon-only>
        <ion-icon color="primary" name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding-left padding-right padding-top>
  <ion-item no-lines padding margin-left>
    <ion-avatar item-left>
      <img [style.border]="'2px solid #0D9C80'"
           src ="{{name.image_url != null ? name.image_url  : 'assets/child_profile_default.png'}}">
    </ion-avatar>
    <ion-label color="primary" class="font-varelap">{{name.child_full_name}}
      <br>
      <ion-note class="font-varelap" style="font-size: 1.2rem;">{{name.child_place_of_residence}}</ion-note>
    </ion-label>
  </ion-item>
  <progress-bar [progress]="loadProgress"></progress-bar>
  <div class="vertical_line" float-left></div>
  <div float-left class="routine">
    <div>
    <ion-row>
      <ion-col col-1>
        <ion-icon name="timer" color="primary"></ion-icon>
      </ion-col>
      <ion-col col-5 text-center>
        <span class="primaryColor font-varelap">8:00 AM</span>
      </ion-col>
      <ion-col col-6>
        <ion-note class="font-varelap">{{"CHECKED_IN" | translate}}</ion-note>
      </ion-col>
    </ion-row>
  </div>
  <div style="margin-top:4rem;">
    <ion-row>
      <ion-col col-1>
        <ion-icon name="timer" color="primary"></ion-icon>
      </ion-col>
      <ion-col col-5 text-center>
        <span class="primaryColor font-varelap">9:00 AM</span>
      </ion-col>
      <ion-col col-6>
        <ion-note class="font-varelap">{{"PLAYTIME" | translate}}</ion-note>
      </ion-col>
    </ion-row>
  </div>
  <div style="margin-top:4rem;">
    <ion-row>
      <ion-col col-1>
        <ion-icon name="timer" color="primary"></ion-icon>
      </ion-col>
      <ion-col col-5 text-center>
        <span class="primaryColor font-varelap">12:30 PM</span>
      </ion-col>
      <ion-col col-6>
        <ion-note class="font-varelap">{{"LUNCH_TIME" | translate}}</ion-note>
      </ion-col>
    </ion-row>
  </div>
  <div style="margin-top:4rem;">
    <ion-row>
      <ion-col col-1>
        <ion-icon name="timer" color="primary"></ion-icon>
      </ion-col>
      <ion-col col-5 text-center>
        <span class="primaryColor font-varelap">3:00 PM</span>
      </ion-col>

      <ion-col col-6>
        <ion-note class="font-varelap">{{"CHECKED_OUT" | translate}}</ion-note>
      </ion-col>
    </ion-row>
  </div>
  </div>
</ion-content>
