page-detailsview {
  .vertical_line{
    height:100%;
    display: inline-block;
    margin-left: 5rem;
    margin-top: -0.4rem;
    width:0.1rem;
    background:lightgray;
    position: absolute;
  }
  .routine{
    width:80%;margin-left: 3.9rem; margin-top:6rem;
  }
  .font-bold{
    font-weight: bold;
  }
}
