<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
    <ion-navbar class=" modal-wrapper" *navbar>
      <ion-title>Edit hours page</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding class="sample-modal-page " text-center>
    <div class="popupsize">
      <p class="font-varelap primaryColor font-varelapEdit">{{ "Edit Hours" | translate }}</p>
      <ion-scroll scrollX="true" style="overflow: scroll;white-space: nowrap;">
        <ion-list style="height:182px;">
        </ion-list>
      </ion-scroll>
      <!--<ul class="family-icon-scroller">
        <li class="family-icon element" [ngClass]="{'selectedQun' : item.selected}" *ngFor="let item of items" (click)="onQuantityClick(item)">{{item.name}}</li>
      </ul>-->
        <ion-row>
            <ion-col col-6 no-margin>
                <ion-label class="font-varelap" style="color:#0D9C80;text-align:right;margin: 0px 8px 0px 0;">
                    <span style="font-size:14px;">{{"CHECK IN" | translate}} </span></ion-label>
            </ion-col>
            <ion-col col-6>
                <ion-label class="font-varelap" style="color:#0D9C80;text-align:left;margin: 0px 8px 0px 0;">
                    <span style="font-size:14px;">{{"CHECK OUT" | translate}}</span> </ion-label>
            </ion-col>
        </ion-row>
  
        <div *ngIf="isMultiple === true">
            <ion-row *ngFor="let time of times; let i = index">
                <ion-col col-5 no-margin>
                    <ion-item style="min-height: 25px;">                        
                        <ion-datetime style="padding: 2px 2px 2px 2px;margin: 0 auto;" displayFormat="HH:mm" [(ngModel)]="time.in" 
                        [min]="times[i-1]!==undefined ? times[i-1].in:'00:00'"></ion-datetime>
                        <ion-icon name="close" class="remove" *ngIf="time.in" style="cursor:pointer;width:auto;margin:0px;color:#ef0d33;min-height: 1.8rem;font-size: 1.8rem;"
                            (click)="removeInHours(i)" ion-item item-right>
                        </ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col col-5>
                    <ion-item style="min-height: 25px;">
                        <ion-datetime style="padding: 2px 2px 2px 2px;margin: 0 auto;" displayFormat="HH:mm" [(ngModel)]="time.out" ></ion-datetime>
                        <ion-icon name="close" class="remove" *ngIf="time.out" style="cursor:pointer;width:auto;margin:0px;color:#ef0d33;min-height: 1.8rem;font-size: 1.8rem;"
                            (click)="removeOutHours(i)" ion-item item-right>
                        </ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col col-2>
                    <button ion-button clear class="font-varelap" (click)="removeHours(i)" style="font-size:0rem">
                            <ion-icon name="close" class="remove"  ion-item item-right style="color: #ef0d33;margin-bottom:18px;font-size: 1.8rem;">
                        </ion-icon> 
                    </button>
            </ion-col>
            </ion-row>
        </div>

        <div *ngIf="isMultiple === false">
            <ion-row>
                <ion-col col-5 no-margin>
                    <ion-item style="min-height: 27px;">
                        <ion-datetime style="padding: 2px 2px 2px 2px;margin: 0 auto;" displayFormat="HH:mm" [(ngModel)]="times[0].in"></ion-datetime>
                        <ion-icon name="close" class="remove" *ngIf="times[0].in" style="cursor:pointer;width:auto;margin:0px;color:#ef0d33;min-height: 1.8rem;font-size: 1.8rem;"
                            (click)="removeInHours(0)" ion-item item-right> 
                         </ion-icon>
                    </ion-item>

                </ion-col>
                <ion-col col-5>
                    <ion-item style="min-height: 27px;">
                        <ion-datetime style="padding: 2px 2px 2px 2px;margin: 0 auto;" displayFormat="HH:mm" [(ngModel)]="times[0].out"></ion-datetime>
                       <ion-icon name="close" class="remove" *ngIf="times[0].out" style="cursor:pointer;width:auto;margin:0px;color:#ef0d33;min-height: 1.8rem;font-size: 1.8rem;"
                            (click)="removeOutHours(0)" ion-item item-right>
                        </ion-icon>
                    </ion-item>
                </ion-col>
                <ion-col col-2>
                        <button ion-button clear class="font-varelap" (click)="removeHours()" style="font-size:0rem">
                                <ion-icon name="close" class="remove"  ion-item item-right style="color: #ef0d33;margin-bottom:18px;font-size: 1.8rem;">
                            </ion-icon> 
                        </button>
                </ion-col>
            </ion-row>
        </div>
  
      <ion-buttons>
        <button ion-button clear class="font-varelap" (click)="dismiss()">
                {{'CANCEL' | translate}}
      </button>
        <button ion-button clear class="font-varelap" (click)="onTapSaveButton()" style="padding-right:9%;">
                {{'SAVE' | translate}}
    </button>
      </ion-buttons>
    </div>
  </ion-content>