<ion-content class="page-popover-content" style="color: #ffffff;">



  <ion-grid text-center padding style="margin-bottom:7rem;border-bottom:1px solid">

    <ion-row>

      <ion-col col-12>
        <ion-row>
          <ion-col col-6 style="display: flex;justify-content: space-between;">
            <span class="groupsLabel"> {{ "GROUPS" | translate }} </span>

            <button small style="width:70%; font-size: 1rem;" ion-button round class="button-white" (click)="chooseGroup()">

              <span float-left class="groupsLabel1"> {{ "SELECT" | translate }} </span>
            </button>
          </ion-col>

          <ion-col col-6 style="display: flex;">

            <button small style="font-family:'Maven Pro';width:70%; font-size: 1rem;" ion-button round class="button-white" (click)="choosePlanned()">
              <span class="groupsLabel1"> {{ "SELECT" | translate }}</span>
            </button>

            <span float-right class="groupsLabel"> {{ "PLANNED" | translate }} </span>

          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col col-12 text-center>
        <div>
          <button small style="font-family:'Maven Pro'; font-size: 1rem;" ion-button round class="button-white" (click)="chooseSchedule()">
            <span class="groupsLabel1"> {{ "SELECT" | translate }}</span>
          </button>

        </div>
        <span style="font-family:'Maven Pro'; font-size: 1rem;"> {{ "SCHEDULE" | translate }} </span>
      </ion-col>

      <ion-col col-12 text-center>

        <hr style="border-top: 1px solid #FFFFFF;">
      </ion-col>
      <ion-col col-12   text-center>
          <ion-title margin-top>
            <p class="font-varelap" style="color: #ffffff; font-size: 1rem;">{{ "AGES_BETWEEN" | translate }}</p>
          </ion-title>
        </ion-col>
        <ion-col col-12>
          <ion-range dualKnobs="true" max="6" min="0" [(ngModel)]="structure" color="light">
            <ion-label range-left>{{structure.lower}}</ion-label>
            <ion-label range-right>{{structure.upper}}</ion-label>
          </ion-range>
        </ion-col>
  
        <ion-col col-12>
  
          <ion-row>
            <ion-col (click)="selectGender('M')">
              <div style="float:right;" [style.color]="mColor ? '#FFFFFF':'#79C7B9'" class="vertical-align-content"> {{ "BOYS" | translate }}
                <div [style.background-color]="mColor ? '#FFFFFF':'#79C7B9'" style="-webkit-mask-box-image:url(./assets/boy.png);background-color:#FFFFFF; height:30px;width:30px; float: right;">
                </div>
              </div>
  
            </ion-col>
            <ion-col class="vertical-align-content" (click)="selectGender('V')">
              <div [style.background-color]="vColor ? '#FFFFFF':'#79C7B9'" style="-webkit-mask-box-image:url(./assets/girl.png);background-color:#FFFFFF; height:30px;width:30px;">
              </div>
              <span [style.color]="vColor ? '#FFFFFF':'#79C7B9'"> {{ "GIRLS" | translate }}</span>
            </ion-col>
          </ion-row>          
        </ion-col>
        
    </ion-row>
  </ion-grid>
  
  <ion-fab class="closeButton">
    <button ion-fab mini (click)="close()" color="light">
      <ion-icon color="primary" name="close"></ion-icon>
    </button>
  </ion-fab>
  
  <ion-fab class="applyButton">
    <button ion-fab mini (click)="applyFilter()" color="light">
      <ion-icon style="margin-top: 5px;" color="primary" name="ios-arrow-down"></ion-icon>
    </button>
  </ion-fab>
  
  <ion-fab class="refreshButton">
    <button ion-fab mini (click)="resetFilter()" color="light">
      <ion-icon style="margin-top: 5px;" color="primary" name="refresh"></ion-icon>
    </button>
  </ion-fab>



</ion-content>