page-popover {
  .page-popover-content {
    background: #0D9C80!important;;
  }

  .vertical-align-content
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }

  .button-white {
    background: #ffffff;
    color:#0D9C80;
    font-family: "GothamRounded";
    opacity: 1;
  }

  /*.button-white:active {
    background: #0D9C80;
    color:#FFF;
    font-family: "GothamRounded";
  }
  .button-white:hover {
    background: #0D9C80;
    color:#FFF;
    font-family: "GothamRounded";
  }*/

  .button-ios.activated {
    background: #ffffff;
    color:#0D9C80;
    font-family: "GothamRounded";
    opacity: 1;
  }

  .closeButton {
    position: absolute;
    bottom: 6px;
    right: 0px;
  }

  .applyButton {
    position: absolute;
    bottom: 6px;
    right: 50px;
  }

  .refreshButton {
    position: absolute;
    bottom: 6px;
    left: 0px;
  }

  .fab ion-icon {
    font-size: 3.0rem;
  }

  .groupsLabel {
    font-family:'Maven Pro';
    display:flex;
    align-items: center;
    font-size: 1rem;
  }
  .groupsLabel1 {
    font-family:'Maven Pro';
    font-weight: bold;
    font-size: 1rem;
  }
}
