page-hotmealsno {
.sample-modal-page {
    background: rgba(0,0,0,0.7);
}
.element{
	-webkit-transition: transform .2s linear;
	-moz-transition: transform .2s linear;
	-o-transition: transform .2s linear;
	transition: transform .2s linear;
}

.family-icon-scroller {
  height: 122px;
  padding: 35px 15px 12px;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 15px;
  margin-right: 15px
}
.family-icon {
    display: inline-block;
    white-space: normal;
    margin: 0 10px;
    font-size: 36px;
    color:darkgrey;
}

  .selectedQun {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5) !important;
    color: gray !important;
  }
}