<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar class=" modal-wrapper" *navbar>
    <ion-title>number of hotmeals</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="sample-modal-page " text-center>
  <div class="popupsize">
    <p class="font-varelap primaryColor">{{ "SELECT QUANTITY" | translate }}</p>
    <ion-scroll scrollX="true" style="overflow: scroll;white-space: nowrap;">
      <ion-list style="height:182px;">
      </ion-list>
    </ion-scroll>
    <ul class="family-icon-scroller">
      <li class="family-icon element" [ngClass]="{'selectedQun' : item.selected}" *ngFor="let item of items" (click)="onQuantityClick(item)">{{item.name}}</li>
    </ul>
    <ion-buttons>
      <button ion-button clear class="font-varelap" (click)="dismiss()">
      {{'CANCEL' | translate}}
    </button>
      <button ion-button clear class="font-varelap" (click)="onTapSaveButton()" style="padding-right:9%;">
    {{'SAVE' | translate}}
  </button>
    </ion-buttons>
  </div>
</ion-content>