// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import "../pages/login/login";

@font-face{
  font-family: 'GothamRounded';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/gothamrounded.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Maven Pro';
  font-style: normal;
  font-weight: 400;
  src: local('MavenPro-Regular'), url('../assets/fonts/mavenpro-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), url('../assets/fonts/varelaRound-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'segoe script';
  src: local('segoe script');
  src: url('../assets/ign-fonts/segoeScript.ttf') format('truetype');
}

.subtitle{
  font-family: "Maven Pro";
  color: rgb( 247, 248, 251 );
}

.app-name{
  font-family: 'segoe script';
  font-weight: bold;
  font-size: xx-large;
}

.font-varelap{
  font-family: "Varela Round";
  font-weight: bold;
}

span.years{
  font-family: "Varela Round";
  color: #a1a2a7;
}
span.time{
  font-family: "Varela Round";
  color: #BFC0C5;
}
ion-input{
  font-family: "Varela Round";
}

.item-block {
  padding: 0px !important;
}

.disable-scroll .ion-page {
  pointer-events: auto;
}

.popover-ios .popover-content {
  height: 55% !important;
  bottom: 0px;
}





