<ion-header no-border xmlns:color="http://www.w3.org/1999/xhtml">
  <ion-navbar class=" modal-wrapper" *navbar>
    <ion-title>{{'SELECT PRODUCT' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="sample-modal-page " text-center>
  <div class="popupsize">
    <p class="font-varelap primaryColor">{{'SELECT PRODUCT' | translate}}</p>
    <ion-list radio-group [(ngModel)]="relationship" style="padding-left:9%;">
      <ion-item no-lines *ngFor="let item of cateProdcuts">
        <ion-label class="font-varelap" color="grey">{{item.name}}</ion-label>
        <ion-radio style="margin: 0px 8px 0px 4px;" item-left no-margin checked="{{item.selected}}" (ionSelect)="onProductChange(item)"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-buttons>
      <button ion-button clear class="font-varelap" (click)="dismiss()">
      {{'CANCEL' | translate}}
    </button>
      <button ion-button clear class="font-varelap" (click)="onSelectProduct()" style="padding-right:9%;">
    {{'NEXT' | translate | uppercase}}
  </button>
    </ion-buttons>
  </div>
</ion-content>