page-kidslist {
  ion-input{
    background-color: #F1F1F1;
  }
  ion-label{
    font-size: small;
    color:grey;
  }
.icons{
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  color: #0D9C80;
  z-index: 999;
}
  .time{
    position:absolute;bottom:0;
    left:auto;
  }
  .name{
    color: #0D9C80; font-weight: bold;margin-bottom: 5px;
  }
  .years{
    font-size: 10px ;
    top: 0px;
  }
  .span-time{
   font-size: large;
    font-style: oblique;
    color:grey;
  }
  img.bottom{
    vertical-align: text-bottom;
  }
  .sync-icon{
    position: static;
    vertical-align: middle;
    font-size: x-large;
  }
  .child-row{
    margin-left: -1rem!important;
    margin-right: -1rem;
  }
  .hours{
    font-size: 1.5rem;
    font-style: oblique;
  }
  .time{
    position: absolute;
    bottom:0px;
    left: 4.6rem
  }
  .bottom-col{
    font-size:1.4rem;
    top:-10px;
  }
  .text-year{
    font-size: 0.9rem ;
    top: 0px;
  }

  .gridBorder {
    border: 2px solid #2ecc71;
  }

  .chOutBorder {
    border: 2px solid #9b59b6;
  }

  .selFontClr {
    color: #2ecc71;
  }
  .chOutFontClr {
    color: #9b59b6;
  }

  .menuItem .label {
    padding: 5px 8px 5px 10px;
  }

  .logoutItem .icon {
    margin: 0px 0px 0px 15px;
  }

  .logoutItem .label {
    margin: 5px 8px 5px 3px;
  }

  .iconVHCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col-900 {
    min-width: 85%;
  }

  .col-100 {
    min-width: 15%;
  }

  .syncCol {
    padding: 0 10px !important;
    vertical-align: middle;
  }

  .zeroPad {
    padding: 0px !important;
  }

  .toolbar-ios ion-title {
    padding: 0 75px 1px;
  }

  ion-title {
    padding: 0 75px 1px;
  }

  .logoutItem .label {
    color: #0d9c80;
  }

  .button-ios-secondary.labelBtn {
    color: #fff;
    background-color: #0D9C80;
    height: 23px;
    font-size: 13px;
    padding: 4px 15px;
  }

  .selIconClr {
    color: #4b5f83 !important;
  }

  .norIconClr {
    color: #0D9C80 !important;
  }

  .itemBg {
      background: #efefef !important;
  }

  .has-refresher > .scroll-content {
     border: none;
  }

  .refresher-pulling-text, .refresher-refreshing-text {
    text-align: center;
    font-size: 14px;
    color: #0D9C80;
    font-family: "Varela Round";
  }

  .closeIcon {
    position: absolute;
    top: 18px;
    font-size: 34px;
    right: 18px;
    padding: 0px 10px;
    z-index: 999;
  }
}


