<ion-menu [content]="thecontent" type="overlay" id='menu1' style="z-index: 1000;">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <p class="primaryColor font-varelap">{{ "LOCATIONS" | translate }}</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button class="menuItem" ion-item *ngFor="let item of menuItems" (click)="getKidListByLocation(item)" [ngClass]="{'itemBg' : item.selected}">
        {{item.name}}
      </button>
      <button class="logoutItem" ion-item (click)="logOut()">
        <ion-icon name="log-out" color="primary" item-left></ion-icon>
        {{ "LOGOUT" | translate }}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-header no-border xmlns:font-size="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml">
  <ion-navbar>
    <ion-title text-center>
      <p class="primaryColor font-varelap">{{ locationName }}</p>
    </ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <image-icon imgUrl="url(assets/menu.png)"></image-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button button ion-button icon-only (click)="changeView(true)" style="padding: 2px;">
        <ion-icon name="md-grid" style="font-size: 26px;font-weight: bold;" [ngClass]="{'selIconClr' : !isGrid, 'norIconClr' : isGrid}"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button button ion-button icon-only clear (click)="changeView(false)" style="padding: 2px;">
        <ion-icon name="md-list" style="font-size:26px;font-weight: bold;" [ngClass]="{'norIconClr' : !isGrid, 'selIconClr' : isGrid}"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
  <ion-toolbar padding>
    <ion-input primary type="text" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" [(ngModel)]="cSearch" text-center name="title"></ion-input>
    <ion-icon *ngIf="cSearch.length > 0" ios="ios-close" md="md-close" class="closeIcon" (click)="onClickClear()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content padding-left padding-right padding-bottom style="background-color: #f8f8f8;" #thecontent>
  <!-- Grid view of kids list -->
  <ion-refresher (ionRefresh)="doRefresh($event, true)">
    <ion-refresher-content refreshingText="Refresh..."></ion-refresher-content>
  </ion-refresher>

  <ion-grid no-padding>

    <button *ngIf="(filterChildList | filter:cSearch.toLowerCase())?.length" class="labelBtn" style="width: 45px;border-radius: 50%!important;border-color: #0d9c80;color: #0d9c80;padding:1rem!important"
      ion-button color="secondary" round outline>
      {{(filterChildList | filter:cSearch.toLowerCase())?.length}}
    </button>

    <ion-row class="child-row" responsive-sm style="padding: 0px 10px 5px 10px;">
      <button *ngFor="let label of selLabels" class="labelBtn" ion-button color="secondary" round>{{label | translate}}</button>
    </ion-row>

    <ion-row *ngIf="isGrid" class="child-row" responsive-sm>
      <ion-col col-12 class="syncCol" *ngIf="syncTime != ''">
        <div style="  display: inline-block;vertical-align: middle;">
          <image-icon float-left height="23px" width="23px" imgUrl="url(assets/sync.png)" color="lightgrey"></image-icon>
        </div>
        <div style="  display: inline-block;vertical-align: middle;">
          <ion-note>
            <span style="font-family:'Varela Round';">Synced {{syncTime}}</span>
          </ion-note>
        </div>
      </ion-col>

      <ion-col style="display: flex;" col-6 col-lg-2 col-md-4 *ngFor="let names of filterChildList | filter:cSearch.toLowerCase()">

        <div>
          <image-icon class="icons" height="40px" width="40px" imgUrl="url(assets/timer.png)" (click)="goToRegister(names)" [ngClass]="{'clockSel' : names.selected, 'clockVisited' : names.visited}"></image-icon>
        </div> 
        <div float-center style="font-size: 14px;color: #239c80;z-index: 999;">
          <span style="position: absolute;right: 6.2rem;top: 20px;" *ngIf="(names.cannot_eat != null &&  names.cannot_eat != '') || (names.cannot_drink != null && names.cannot_drink != '')">
            <ion-icon name="restaurant"></ion-icon>
          </span>
          <span style="position: absolute;right: 7.8rem;top: 20px;" *ngIf="names.illnesses != null && names.illnesses != ''">
            <ion-icon name="medkit"></ion-icon>
          </span>
          <span style="position: absolute;right: 9.36rem;top: 20px;" *ngIf="names.allergies != null && names.allergies != ''">
            <ion-icon name="leaf"></ion-icon>
          </span>
          <span style="position: absolute;right: 10.6rem;top: 20px;" *ngIf="names.special_needs != null && names.special_needs != ''">
            <ion-icon name="notifications"></ion-icon>
          </span>
        </div> 
        <ion-card (click)="goToProfile(names)" [ngClass]="{'gridBorder' : names.selected, 'chOutBorder' : names.visited}">
          <ion-row responsive-sm class="header">
            <ion-col col-5 col-md-5 col-sm-3 col-lg-3>
              <ion-item no-padding>
                <ion-avatar style="margin:0px;">
                  <img [ngStyle]="{'width':'5rem !important','height':'5rem!important'}" src="{{names.child_image_basedata == undefined || names.child_image_basedata == '' ? 'assets/child_profile_default.png'  : names.child_image_basedata}}">
                  <!-- <span item-right class="time">
                        <span class="hours">{{names.child_time.h}}h </span>
                  <ion-note style="font-size: 1rem">{{names.child_time.m}}m</ion-note>
                  </span> -->
                </ion-avatar>
              </ion-item>
            </ion-col>
            <ion-col col-7 col-md-7 col-sm-5 col-lg-5>
             
              <!-- <div style="width: fit-content;float: left;">
                    <image-icon class="icons"  height="40px" width="40px" imgUrl="url(assets/timer.png)"  (click)="goToRegister(names)" [ngClass]="{'clockSel' : names.selected, 'clockVisited' : names.visited}"></image-icon>
              </div>
              <div style="  width: 6.5rem;">
              <span  style="position: inherit;top:10px;" *ngIf="names.special_needs != null && names.special_needs != ''">
                <ion-icon name="notifications" style="color:#0d9c80"></ion-icon>
              </span>
              <span style="position: inherit;top:10px;" *ngIf="names.allergies != null && names.allergies != ''">
                <ion-icon name="leaf" style="color:#0d9c80"></ion-icon>
              </span>
              <span  style="position: inherit;top:10px;" *ngIf="names.illnesses != null && names.illnesses != ''">
                <ion-icon name="medkit" style="color:#0d9c80"></ion-icon>
              </span>
              <span style="position: inherit;top:10px;" *ngIf="(names.cannot_eat != null &&  names.cannot_eat != '') || (names.cannot_drink != null && names.cannot_drink != '')">
                <ion-icon name="restaurant" style="color:#0d9c80"></ion-icon>
              </span>
              </div> -->
              

              <span style="bottom:0px;    position: absolute;    right: 1rem;font-family: 'Varela Round';
              color: #BFC0C5;">
                <span class="hours">{{names.child_time.h}}h </span>
                <ion-note style="font-size: 1rem">{{names.child_time.m}}m</ion-note>
              </span>
            </ion-col>
          </ion-row>
          <ion-row style="padding-left: 5px!important" responsive-sm>
            <ion-col col-12 style="top:0px">
              <h4 class="name" [ngClass]="{'selFontClr' : names.selected, 'chOutFontClr' : names.visited}">{{ names.child_first_name+" "+names.child_last_name}}</h4>
            </ion-col>
            <ion-col style="top:-10px">
              <span class="years">
                <span style="font-size: 1.3rem">{{names.child_age}} </span>
                <span style="font-size: 0.9rem ; top: 0px">{{ "YEARS" | translate }}</span>
              </span>
            </ion-col>
            <ion-col class="bottom-col">
              <span *ngIf="names.child_gender == 'M'">
                <image-icon float-right style="padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(assets/boy.png)"></image-icon>
              </span>
              <span *ngIf="names.child_gender == 'V'">
                <image-icon float-right style="padding-right:1rem;" height="20px" color="#B8B8B8" width="20px" imgUrl="url(assets/girl.png)"></image-icon>
              </span>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- List view of kids list -->
    <ion-row no-padding *ngIf="!isGrid">
      <ion-col col-12 class="syncCol" *ngIf="syncTime != ''">
        <div style="  display: inline-block;vertical-align: middle;">
          <image-icon float-left height="23px" width="23px" imgUrl="url(assets/sync.png)" color="lightgrey"></image-icon>
        </div>
        <div style="  display: inline-block;vertical-align: middle;">
          <ion-note>
            <span style="font-family:'Varela Round';">Synced {{syncTime}}</span>
          </ion-note>
        </div>
      </ion-col>
      <ion-col col-12>
        <ion-list padding-top no-lines>

          <div class="row zeroPad" *ngFor="let names of filterChildList | filter:cSearch.toLowerCase()">
            <div class="col col-900 zeroPad">

              <ion-item style="background-color: #f8f8f8;" (click)="goToProfile(names)">

                <ion-avatar item-left>
                  <img src="{{names.child_image_basedata == undefined || names.child_image_basedata == '' ? 'assets/child_profile_default.png'  : names.child_image_basedata}}">
                </ion-avatar>
                <image-icon item-left *ngIf="names.child_gender == 'M'" height="20px" color="#B8B8B8" width="20px" imgUrl="url(assets/boy.png)"></image-icon>
                <image-icon item-left *ngIf="names.child_gender == 'V'" height="20px" color="#B8B8B8" width="20px" imgUrl="url(assets/girl.png)"></image-icon>
                <image-icon item-left *ngIf="names.child_gender == null" height="20px" color="#B8B8B8" width="20px" imgUrl="url(assets/girl.png)"></image-icon>
                <h4 class="name" [ngClass]="{'selFontClr' : names.selected, 'chOutFontClr' : names.visited}">{{ names.child_first_name+" "+names.child_last_name}}</h4>
                <p float-left>
                  <span class="years">
                    <span style="font-size: 1.2rem">{{names.child_age}} </span>
                    <span class="text-year">{{ "YEARS" | translate }}</span>
                    <span style="margin-left: 6px;color: #239c80;font-size: 12px;">
                      <span *ngIf="(names.cannot_eat != null &&  names.cannot_eat != '') || (names.cannot_drink != null && names.cannot_drink != '')">
                        <ion-icon name="restaurant" style="margin-right:5px;"></ion-icon>
                      </span>
                      <span *ngIf="names.illnesses != null && names.illnesses != ''">
                        <ion-icon style="margin-right:5px;" name="medkit"></ion-icon>
                      </span>
                      <span *ngIf="names.allergies != null && names.allergies != ''">
                        <ion-icon name="leaf"></ion-icon>
                      </span>
                      <span *ngIf="names.special_needs != null && names.special_needs != ''">
                        <ion-icon name="notifications"></ion-icon>
                      </span>
                    </span>
                  </span>
                </p>
                <div float-right style="padding-right: 0%;">
                  <ion-note style="font-size: 1.5rem">{{names.child_time.h}}h {{names.child_time.m}}m</ion-note>
                </div>

              </ion-item>

            </div>
            <div class="col col-100 zeroPad iconVHCenter">
              <image-icon item-right imgUrl="url(assets/timer.png)" (click)="goToRegister(names)" [ngClass]="{'clockSel' : names.selected, 'clockVisited' : names.visited}"></image-icon>
            </div>
          </div>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom>
    <button ion-fab mini (click)="openPopover($event)">
      <image-icon icon-only height="18px" width="18px" color="#FFFFFF" imgUrl="url(assets/filter.png)">
      </image-icon>
    </button>
  </ion-fab>
</ion-content>