image-icon {
  div{
    width:25px;
    height: 25px;
    //background-color: #0D9C80;
  }

  .platform-android{
    background-color: #0D9C80;
  }
}

.clockSel {
  .platform-android {
    background-color: #2ecc71;
  }
}

.clockVisited {
  .platform-android {
    background-color: #9b59b6;
  }
}